<div class="container" *ngIf="cityName">
  <div class="card">
    <div class="card-body"><a>{{cityName}}</a>
      <ul *ngFor="let city of cityDataJson.daily">
        <li>Temperature
          <ul>
            <li>Morning : {{city.temp.morn}}</li>
            <li>Day : {{city.temp.day}}</li>
            <li>Evening : {{city.temp.eve}}</li>
            <li>Night : {{city.temp.night}}</li>
          </ul>
        </li>
        <li>Sunrise : {{city.sunrise}}</li>
        <li>Sunset : {{city.sunset}}</li>
        <li>Weather : {{city.weather[0].main}}</li>
      </ul>
    </div>

  </div>
</div>
